{% extends 'base.html.twig' %}
{#{% block header %}#}
    {#<h1>Prénom de l'enfant - Nom de l'enfant</h1>#}

{#{% endblock %}#}
 {% block body %}
     <h1>Nom du cadeau</h1>
     <div class="form-group">
         <label for="catégorie">Catégorie</label>
         <select name="catégorie" id="catégorie" class="form-control">

         </select>
     </div>
     <div class="buttonsubmit">
     <button type="submit" class="btn btn-primary">Submit</button>
     </div>
     <hr>

<section class="faisability">
    <h1>Faisabilité</h1>
         <div class="Liste des cadeaux">
             <ol>
                 <li>Nom du cadeau - pourcentage %
                 </li>
                 <li>Nom du cadeau - pourcentage %
                 </li>
                 <li>Nom du cadeau - pourcentage %
                 </li>
                 <li>Nom du cadeau - pourcentage %
                 </li>
                 <li>Nom du cadeau - pourcentage %
                 </li>
                 <li>Nom du cadeau - pourcentage %
                 </li>
             </ol>
         </div>

</section>


     </div>
 {% endblock %}